# Compiled source #
###################
*.o
*.so
*.pyc

# Logs and databases #
######################
*.log
*~

# Folders #
###########
build/
dist/
python/soma_workflow.egg-info/

# Pycharm project#
##################
.idea

