sudo: false

matrix:
  include:
    - os: osx
      language: generic
      name: python 3.8
    - os: linux
      language: python
      name: python 2.7
      python:
        - 2.7
    - os: linux
      language: python
      name: python 3.5
      python:
        - 3.5
    - os: linux
      language: python
      name: python 3.7
      python:
        - 3.7

before_install:
    - echo "TRAVIS_PYTHON_VERSION:" "$TRAVIS_PYTHON_VERSION"
    # osx deps
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew uninstall --ignore-dependencies python; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install python@3.8; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then python --version; python --version; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PATH="/usr/local/opt/python@3.8/bin:$PATH"; ln -s `which python3` bin/python; ln -s `which pip3` bin/pip; export PATH="$PWD/bin:$PATH"; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then python --version; fi
    - if [[ "$TRAVIS_OS_NAME" = "linux" && "$TRAVIS_PYTHON_VERSION" == "3.5" ]]; then sudo apt-get install -y pandoc graphviz; pip install sphinx sphinx-gallery pandoc nbsphinx "PyQt5<5.13"; fi

install:
    - pip install "six~=1.13"
    - if [ ${TRAVIS_PYTHON_VERSION} == "2.7" ]; then pip install subprocess32; fi
    - pip install codecov
    - python setup.py install
    - export QT_API=pyqt5
    # build doc; set .nojekyll otherwise github.io doesn't copy dirs starting
    # with '_' (such as '_static')
    - if [[  "$TRAVIS_OS_NAME" = "linux" && "$TRAVIS_PYTHON_VERSION" == "3.5" ]]; then cd doc && make html && touch build/html/.nojekyll && cd ..; fi
    - if [[ -n "$GITHUB_ACCESS_TOKEN" ]]; then export PUSH_DOC_TO_GH_PAGES=yes; fi

script:
    - coverage run -m soma_workflow.test

after_success:
    - codecov

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_ACCESS_TOKEN
  target-branch: gh-pages
  local-dir: doc/build/html
  on:
    branch: master
    condition: $PUSH_DOC_TO_GH_PAGES == yes && $TRAVIS_OS_NAME == linux && $TRAVIS_PYTHON_VERSION == 3.5
